@import "./utils/utils";
@import "./components/Header/base";
@import "./components/Story/base";

// util class
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #010413;
  color: #FFF;
  font-family: sans-serif;
  // height: 1800px;
}
