.story-container {
  margin-top: 120px;
  z-index: 1;
  align-items: flex-start;
  .story-overview {
    inset: 120px;
    position: sticky;
    position: -webkit-sticky;
    h4 {
      font-size: 2.5rem;
      margin: 0;
    }

    p {
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 2.4;
    }

    span {
      font-weight: 700;
    }
  }

  .story-image {
    margin-left: auto;
    img {
      width: 100%;
      height: 100%;
    }
    img:not(:last-child) {
      margin-bottom: 20rem;
    }
  }

  .story-objective {
    position: relative;
    margin-bottom: 15rem;
    min-height: 100vh;
    h4 {
      font-size: 4rem;
      font-weight: 800;
      width: 100%;
      display: block;
      text-align: center;
    }
    &__card {
      position: relative;
      transition: top 0.3s ease;
      top: 0;
      height: 272px;
      flex: 1;
      &:first-child {
        margin-right: 20px;
      }
      &:last-child {
        margin-left: 20px;
      }
    }
    &__border {
      border-radius: 12px;
      height: 100%;
      background: linear-gradient(
        60.64deg,
        rgb(51, 143, 255) 0%,
        rgb(211, 251, 216) 100%
      );
      padding: 3px;
    }
    &__content {
      border-radius: 12px;
      background-color: rgb(1, 4, 19);
      height: 100%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 2.5rem;
      transition: 0.3s ease;
      h4 {
        margin: 0;
        font-size: 2rem;
      }
      p {
        line-height: 1.5;
        font-size: 1.25rem;
        font-weight: 400;
        text-align: center;
        display: none;
      }
    }
    & .story-objective__card:hover {
      top: -5px;
      .story-objective__content {
        background-color: transparent;
        & p {
          display: block;
        }
        & h4 {
          display: none;
        }
      }
    }
  }

  .target-audience {
    min-height: 80vh;
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    h4 {
      text-align: center;
      font-size: 4rem;
      font-weight: 800;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .target-bg {
      z-index: -1;
      background-image: url("https://ufll2022-kova.vercel.app/_next/image?url=%2Ftarget-audience.png&w=640&q=75");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 650px;
      height: 650px;
      position: absolute;
      top: 100%;
      filter: brightness(60%);
    }
  }

  .story-choose {
    padding: 200px 0px;
    & h4 {
      margin-bottom: 2rem;
    }

    & p {
      line-height: 2rem;
      font-size: 1.25rem;
    }
    .choose-one {
      display: flex;
      flex-direction: row;
      &__img {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &__img img:nth-child(1) {
        transform: translateX(-33.33%);
      }

      &__img img:nth-child(2) {
        margin: 1rem 0rem;
        transform: translateX(33.33%);
      }
    }

    .choose-two {
      padding: 200px 0px;
      &__img img:first-child {
        transform: translateX(33.33%);
      }
      &__img img:last-child {
        margin-top: 1rem;
        transform: translateX(-33.33%);
      }
    }
  }

  .context-container {
    display: flex;
    flex-direction: column;
    &__header {
      align-self: center;
      font-weight: 900;
      font-size: 4.5rem;
      margin-bottom: 2.5rem;
    }
    &__card {
      position: relative;
      transition: top 0.3s ease;
      top: 0;
      height: 272px;
      width: 32%;
      &:first-child {
        margin-right: 20px;
      }
      &:last-child {
        margin-left: 20px;
      }
      &:hover {
        top: -5px;
        .context-container__content {
          background-color: transparent;
        }
      }
    }
    &__border {
      border-radius: 12px;
      height: 100%;
      background: linear-gradient(
        60.64deg,
        rgb(51, 143, 255) 0%,
        rgb(211, 251, 216) 100%
      );
      padding: 3px;
    }
    &__content {
      border-radius: 12px;
      background-color: rgb(1, 4, 19);
      height: 100%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem 2.5rem 0rem;
      transition: 0.3s ease;
      h4 {
        margin: 0;
        font-size: 4rem;
        font-weight: 900;
      }
      p {
        line-height: 1.5;
        font-size: 1.25rem;
        font-weight: 400;
        text-align: center;
      }
    }
  }

  .static-container {
    &__header {
      font-size: 2.25rem;
      text-align: center;
      font-weight: 800;
    }
    &__chart-slider {
      flex-wrap: nowrap;
      overflow: hidden;
      width: 100%;
    }
    &__slider-item {
      flex: 0 0 100%;
      transition: left 0.4s ease-out;
      position: relative;
      left: 0;
    }
    &__slider-btn {
      justify-content: flex-end;
      button {
        font-size: 20px;
        outline: none;
        border: none;
        border-radius: 50%;
        background: none;
        color: white;
        width: 45px;
        height: 45px;
        transition: 0.3s ease;
        margin: 0 0.25rem;
        cursor: pointer;
        &:hover {
          background-color: rgba(145, 158, 171, 0.08);
        }
      }
    }
    &__chart-content {
      h4 {
        font-size: 2rem;
        font-weight: 900;
        margin-bottom: 1.25rem;
      }
      p {
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.75rem;
      }
    }
  }

  .apexcharts-tooltip {
    background: #fff;
    color: #000;
    font-size: 11px;
    padding: 0.5rem;
  }

  .chart__tooltip-value {
    color: #010413;
    font-size: 14px;
    font-weight: 900;
  }
}
