// Spacing variables
$paddings: 0, 0.5rem, 1rem, 1.5rem, 2rem, 2.5rem, 3rem, 3.5rem, 4rem;
$margins: 0, 0.5rem, 1rem, 1.5rem, 2rem, 2.5rem, 3rem, 5rem, 7rem;

// Direction variables
$positions: "t", "b", "l", "r", "x", "y", "";
